#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:vendor.audio.cit.spkcal.copy=true
    copy /data/vendor/cit/cs35l41_cal.bin /mnt/vendor/persist/audio/cs35l41_cal.bin
    copy /data/vendor/cit/cs35l41_cal_right.bin /mnt/vendor/persist/audio/cs35l41_cal_right.bin
    copy /data/vendor/cit/cs35l41_cal.txt /mnt/vendor/persist/audio/cs35l41_cal.txt
    copy /data/vendor/cit/cs35l41_cal_right.txt /mnt/vendor/persist/audio/cs35l41_cal_right.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_right.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_right.txt
    copy /data/vendor/cit/tfa9894_chk.txt /mnt/vendor/persist/audio/tfa9894_chk.txt
    chmod 666 /mnt/vendor/persist/audio/tfa9894_chk.txt
    copy /data/vendor/cit/cs35l45_cal_mt.bin /mnt/vendor/persist/audio/cs35l45_cal_mt.bin
    copy /data/vendor/cit/cs35l45_cal_md.bin /mnt/vendor/persist/audio/cs35l45_cal_md.bin
    copy /data/vendor/cit/cs35l45_cal_ft.bin /mnt/vendor/persist/audio/cs35l45_cal_ft.bin
    copy /data/vendor/cit/cs35l45_cal_fd.bin /mnt/vendor/persist/audio/cs35l45_cal_fd.bin
    copy /data/vendor/cit/cs35l45_cal_mt.txt /mnt/vendor/persist/audio/cs35l45_cal_mt.txt
    copy /data/vendor/cit/cs35l45_cal_md.txt /mnt/vendor/persist/audio/cs35l45_cal_md.txt
    copy /data/vendor/cit/cs35l45_cal_ft.txt /mnt/vendor/persist/audio/cs35l45_cal_ft.txt
    copy /data/vendor/cit/cs35l45_cal_fd.txt /mnt/vendor/persist/audio/cs35l45_cal_fd.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_mt.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_md.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_ft.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_fd.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_mt.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_md.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_ft.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l45_cal_fd.txt
